<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.dougscripts.batchtrimtime</string>
	<key>CFBundleName</key>
	<string>Batch Trim Start or Stop Time</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>©2007-2014, Doug Adams. All Rights Reserved.</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<true/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>478</real>
		<key>savedFrame</key>
		<string>83 777 752 607 0 0 2560 1418 </string>
		<key>selectedTabView</key>
		<string>description</string>
	</dict>
</dict>
</plist>
